<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>我的站点</title>
</head>
<body>
    <h1>管理我的站点</h1>
    <br></br>
    <p>当前VPN端口为：{{ port }}</p>
    <a href={% url "OpenVPNApp:restart" %}>重启服务</a>
    <br></br>
    <a href={% url "OpenVPNApp:changePort" %}>修改端口</a>
    <br></br>
    <a href={% url "OpenVPNApp:downloadConfigFile" %}>下载最新配置文件</a>
    <p>{{ message }}</p>
    <br></br>
    <p>vpn端口一般一到两天会更新一次，如果无法连接上服务器，请先确认自己的客户端配置文件的端口是否正确！</p>
    <p>确认端口正确以后依然无法连接上vpn，可以点击修改端口按钮，将客户端配置文件修改为最新端口后连接vpn</p>
    <p>重启服务和修改端口需要一定时间，建议重启服务和修改端口后5分钟再尝试连接vpn</p>
    <p>请不要重复点击修改端口按钮！如果修改端口两次后依然无法连接vpn，大概率是服务器内部发生错误，请不要再尝试了，如果你认识作者，可联系作者排查故障。</p>
    <p>不会修改端口的朋友可以直接下载最新配置文件，导入客户端即可，移动端同理，对了密码联系作者。</p>
    <p>客户端使用教程，搜索OpenVPN。。。算了搜了半天没有合适的教程，还是联系作者手把手教吧。</p>
    <p>本服务仅提供给朋友学习交流之用，请勿使用本服务进行违法犯罪！</p>
    <br></br>
    {% comment %} <p>应该要出一个客户端使用教程，但是做网页实在是太菜了，不过搜索OpenVPN就有客户端安装教程啦（应该还需要识别一下）</p> {% endcomment %}
    {% comment %} <p>应该再放一个客户端软件在上面（win，mac，安卓），毕竟客户端在国内想下载还挺难的，但是感觉服务器可能承受不了==!，而且流量上来了还可能封IP，保持客户端为最新版也有点麻烦</p> {% endcomment %}
    {% comment %} <p>应该添加一个服务端运行状态的看板，包括软件运行状态，连接终端数量，上一次端口修改时间，端口平均存活时长，端口连通状态等，但是好像有点难，而且目前似乎够用了。</p> {% endcomment %}
    {% comment %} <p>应该做一个用户认证体系，大家都在用同一个证书科学上网，和谁关系不好了拉他进小黑屋还有点麻烦。</p> {% endcomment %}
    
</body>
</html>